.info_box_wrapper {
  display: flex;
  padding: 0.5em;
}

.title {
  font-size: 0.75rem;
  margin: 0;
  padding: 0px 0.32em;
  line-height: 1;
}

.body {
  padding: 0.32em;
  line-height: 1.5;
}

.img {
  display: block;
}
