@import '../../sass-partials/variables';

.comment_section {
  margin-top: 4rem;
}

.comments_container {
  margin-top: 2rem;
  margin-bottom: 2rem;

  & > div {
    border-top: 1px solid $lineColor;
    border-left: 1px solid $lineColor;
    border-right: 1px solid $lineColor;
  }
}

.comment_section_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
