.comment_wrapper {
  background-color: rgba(153, 153, 153, 0.281);
  padding-bottom: 1.5em;
}

.comment_actions {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.likes {
  font-size: 12px;
  margin-right: 5px;
}

.img {
  width: 40px;
}
