.main_wrapper {
  line-height: 1.5rem;
  text-overflow: ellipsis;
  max-width: 100%;
}

.header {
  font-size: 0.875rem;
  max-width: 100%;
}

.body_text {
  font-size: 0.75rem;
}

.dark {
  font-weight: 600;
}

.value {
  white-space: pre-wrap;
}
